.form{
    display: flex;
}
.form-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    flex: 1 1 16.666%;
}
.form-item:last-of-type{
    margin-right: 0;
}
.form-input{
    min-height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    outline: none;
    border-radius: 5px;
    width: 100%;
}