.baner-relative {
    position: relative;
}

.baner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.baner-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.baner-img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.content {
    margin-bottom: 2rem;
}

.content-hello {
    padding: 2rem 0;
}

.content-hello-text {
    padding-top: 1rem;
}

.content-row {
    display: flex;
    align-items: center;
}

.content-col-flex {
    flex: 1;
}

.content-description {
    padding-left: 2rem;
}

.content-img {
    width: 100%;
}

@media(max-width: 960px) {
    .content-row {
        display: block;
    }
    .content-description {
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    .baner-overlay {
        display: none;
    }
    .baner-text {
        position: relative;
        top: 0;
        color: #000;
        padding: 1rem;
        transform: none;
    }
}

@media (max-width: 550px) {
    .baner-text {
        font-size: 1rem;
    }
}