.baner-relative {
    position: relative;
}

.baner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.baner-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.baner-img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.content {
    margin-bottom: 2rem;
}

.content-hello {
    padding: 2rem 0;
}

.content-hello-text {
    padding-top: 1rem;
}

.content-row {
    display: flex;
    align-items: center;
}

.content-col-flex {
    flex: 1;
}

.content-description {
    padding-left: 2rem;
}

.content-img {
    width: 100%;
}

.content-formtext1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-formtext2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-form{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    align-content: flex-start;
    justify-content: center;
}

.content-form-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    flex: 1 1 16.666%;
    
}
.content-form-item:last-of-type{
    margin-right: 0;
    
}
.content-form-input{
    min-height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    outline: none;
    border-radius: 5px;
    width: 100%;
    border: 1px solid black;
}
.content-buttonplace{
    display: flex;
    justify-content: center;
}
.content-formbutton{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 4px;
    border:1px solid black;
    background-color: green;
    max-width: fit-content;
    color: white;
    margin-top: 20px;
}
.content-formbutton:active{
    transform: translateY(4px);
    background-color: lightgreen;
    color: white;
}

@media(max-width: 960px) {
    .content-row {
        display: block;
    }
    .content-description {
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    .baner-overlay {
        display: none;
    }
    .baner-text {
        position: relative;
        top: 0;
        color: #000;
        padding: 1rem;
        transform: none;
    }
}

@media (max-width: 550px) {
    .baner-text {
        font-size: 1rem;
    }
}