.nav{
    padding: 50px 0;
   
}
.nav-title{
    text-align: center;

}
.nav-header{
    display: flex;
    color: red;
    margin: 0px auto;
    height: 50px;
    justify-content: space-between;
    background-color: rgb(204, 204, 204);
}
.nav-logo{
    
}
.nav-login{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
}