.nav {
    padding: 50px 0;
}

.nav-title {
    text-align: center;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.nav-header.shadow {
    -webkit-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.38);
    -moz-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.38);
    box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.38);
}

.nav-logo {
    max-width: 100%;
}

.nav-login {
    display: flex;
    align-items: center;
}

.nav-button {
    margin-right: 1rem;
}

.nav-button:last-of-type {
    margin-right: 0;
}

.nav-link {
    padding-bottom: .5rem;
    border-bottom: 1px solid #cecece;
    transition: border-bottom .3s ease-in-out;
    font-weight: 200;
}

.nav-link.pointer {
    cursor: pointer;
}

.nav-link:hover {
    border-bottom: 1px solid #48576d;
}

a.router-link-exact-active.router-link-active {
    border-bottom: 1px solid #48576d;
    font-weight: 400;
}