.nav{
    padding: 50px 0;
   
}
.nav-title{
    text-align: center;

}
.nav-header{
    display: flex;
    color: red;
    margin: 0px auto;
    height: 50px;
    justify-content: space-between;
    background-color: rgb(204, 204, 204);
}
.nav-logo{
    
}
.nav-login{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
}
.baner-relative {
    position: relative;
}

.baner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.baner-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.baner-img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.content {
    margin-bottom: 2rem;
}

.content-hello {
    padding: 2rem 0;
}

.content-hello-text {
    padding-top: 1rem;
}

.content-row {
    display: flex;
    align-items: center;
}

.content-col-flex {
    flex: 1;
}

.content-description {
    padding-left: 2rem;
}

.content-img {
    width: 100%;
}

@media(max-width: 960px) {
    .content-row {
        display: block;
    }
    .content-description {
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    .baner-overlay {
        display: none;
    }
    .baner-text {
        position: relative;
        top: 0;
        color: #000;
        padding: 1rem;
        transform: none;
    }
}

@media (max-width: 550px) {
    .baner-text {
        font-size: 1rem;
    }
}
.form {
    display: flex;
    flex-wrap: wrap;
}

.form-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    flex: 1 1 16.666%;
}

.form-item:last-of-type {
    margin-right: 0;
}

.form-input {
    min-height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    outline: none;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #000;
}
.footer-bg {
    background-color: rgb(51, 49, 49);
  }
  .footer-address {
    text-align: center;
    padding: 2rem 0;
    color: #fff;
  }
  .footer-title{
      margin-bottom: 1rem;
  }
@media(max-width: 1440px){
    .container{
        padding: 0 1rem;
    }
}
@media(max-width: 1200px){
    .form-item{
        flex: 1 0 31%;
    }
}
*,::after,::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#app{
    min-height: 100%;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}

a, a:visited{
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
}
