*,::after,::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#app{
    min-height: 100%;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}

a, a:visited{
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
}

@import 'style/nav.css';
@import 'style/index.css';
@import 'style/form.css';
@import 'style/footer.css';
@import 'style/mediaqueries.css';